.new-post {
  width: 80%;
  margin: -20px auto;
  padding: 20px 0;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.03);
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.new-post h2 {
  color: #333;
  text-align: right;
  width: 100%;
  padding: 0 30px;
  margin: 10px auto 30px;
  display: block;
}

.new-post label {
  display: block;
  margin: 10px auto 5px; 
  text-align: right;
  color: #333;
  width: 100%;
  padding: 0 35px;
}

.new-post input,
.new-post textarea,
.new-post select {
  display: block;
  width: calc(100% - 60px);
  font-family: inherit;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  outline: none;
  padding: 10px 5px;
  margin: 0 auto 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.new-post button {
  margin: 45px 0;
  padding: 10px;
  font: inherit;
  border: none;
  border-radius: 3px;
  background-color: rgb(87, 87, 233);
  color: #ffffff;
  cursor: pointer;
}

.new-post textarea {resize: none;}