.post {
  width: 100%;
  padding: 0;
  text-align: right;
  margin: 5px 0;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
}
.post::before {
  content: '';
  background: #5757e9;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
}

.post:last-child {border-bottom: none;}

.post h1 {
  color: #555;
  margin: 0;
  display: inline;

}

.author {
  margin: 16px 0;
  color: #888;
  display: inline;
  font-size: 14px;
}
.author::before {
  content: '/';
  padding: 0 10px;
}